/* 全局设置 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
}
html,
body {
  min-width: 320px;
}
body {
  background-color: #fff;
  position: relative;
  min-height: 100%;
  min-width: 1024px;
  -webkit-text-size-adjust: none;
  letter-spacing: 0.1em;
}
body::after {
  display: none;
}
a:link {
  color: #318102;
  text-decoration: none;
}
a:visited {
  color: #318102;
  text-decoration: none;
}
a:hover {
  color: #318102;
  text-decoration: underline;
}
a:active {
  color: #318102;
  text-decoration: none;
}
a img {
  border: 0;
}
a {
  word-break: break-all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 0px;
  padding: 0px;
}
p {
  font-family: "微软雅黑";
  font-size: 20px;
  color: #e4007f;
  text-align: center;
}
b img {
  width: 30px;
  height: 30px;
}

/* 背景 */
.bg {
  background-image: url(images/top_bg.png),
    -webkit-gradient(linear, left top, left bottom, from(rgba(235, 213, 250, 1)), to(rgba(255, 255, 255, 1)));
  background-image: url(images/top_bg.png),
    -webkit-linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-image: url(images/top_bg.png),
    -moz-linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-image: url(images/top_bg.png),
    -o-linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-image: url(images/top_bg.png),
    linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-position: center center, center center;
  -o-background-size: auto;
  background-size: auto;
  padding-top: 30px;
}
#logo {
  margin-bottom: 30px;
}
#logo h1 {
  text-align: center;
}
#logo h1 img {
  width: 600px;
  max-width: 60%;
  min-width: 300px;
}
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .bg {
    padding: 15px 0 0;
  }
  #logo {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .bg {
    padding: 5px 0 0;
  }
  #logo {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1025px) {
  #kv > div {
    display: block;
    margin: 0 auto;
    max-height: 990px;
    max-width: 100%;
    overflow-y: hidden;
    background-image: url(images/clear.jpg);
    background-position: center center;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  #kv > div {
    display: block;
    margin: 0 auto;
    max-height: 990px;
    max-width: 100%;
    overflow-y: hidden;
    background-image: url(images/clear.jpg);
    background-position: center center;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
  }
}

/* 底部 */
#footer {
  clear: both;
  padding-top: 10px;
  width: 100%;
  position: relative;
  padding-bottom: 250px;
  border-top: 5px solid rgba(255, 255, 255, 1);
}
#footer::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: -webkit-calc(100% + 5px);
  height: -moz-calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  bottom: 0;
  background-image: -webkit-linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -moz-linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -o-linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(10%, rgba(255, 255, 255, 1)),
      color-stop(70%, rgba(255, 255, 255, 0.7))
    ),
    url(images/header.jpg);
  background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(10%, rgba(255, 255, 255, 1)),
      color-stop(70%, rgba(255, 255, 255, 0.7))
    ),
    url(images/header.jpg);
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
#footer #copyright p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 2em 0;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: black;
  position: absolute;
  bottom: 0;
}
