/* 全局设置 */
:root {
  --base-color: #da57d8;
  --base-light-color: #ecabeb;
  --index-color: #ff791b;
  --index-light-color: #ffc9a4;
  --staff-color: #50dfbd;
  --staff-light-color: #b9f2e5;
  --story-color: #ff6d6d;
  --story-light-color: #ffc5c5;
  --member-color: #67d0ff;
  --member-light-color: #c2ecff;
  --cast-color: #a5469a;
  --cast-light-color: #dbb5d7;
  --friendlink-color: #297fff;
  --friendlink-light-color: #a9ccff;
  --message-color: #70c228;
  --message-light-color: #c6e7a9;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
}
html,
body {
  min-width: 320px;
}
body {
  -webkit-text-size-adjust: none;
  letter-spacing: 0.1em;
}
a {
  text-decoration: underline;
}
li,
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a img {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre,
blockquote,
div {
  margin: 0px;
  padding: 0px;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  zoom: normal;
}
a {
  word-break: break-all;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: none;
  vertical-align: bottom;
  -webkit-backface-visibility: hidden;
}

/* header */
#container {
  position: relative;
  padding-top: 0px;
}

#nav {
  min-width: 1024px;
  height: -webkit-calc(200px + 5em);
  height: -moz-calc(200px + 5em);
  height: calc(200px + 5em);
  position: absolute;
  width: 100%;
  z-index: 499;
}

#mv {
  min-width: 1024px;
  height: 200px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 1))
    ),
    url(images/header.jpg);
  background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0.5) 30%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(images/header.jpg);
  background-image: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0.5) 30%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(images/header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 0.5) 30%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 1))
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 1))
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 1))
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 1))
    ),
    url(images/header.jpg);
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 30%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(images/header.jpg);
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 200;
  width: 100%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
#mv h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 1em;
  bottom: 1em;
}
#mv h1 img {
  width: 480px;
  max-width: 80%;
  background-image: url(images/h1_logo.png);
  -o-background-size: contain;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bgbox {
  background-image: url(images/top_bg.png),
    -webkit-gradient(linear, left top, left bottom, from(rgba(235, 213, 250, 1)), to(rgba(255, 255, 255, 1)));
  background-image: url(images/top_bg.png),
    -webkit-linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-image: url(images/top_bg.png),
    -moz-linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-image: url(images/top_bg.png),
    -o-linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-image: url(images/top_bg.png),
    linear-gradient(rgba(235, 213, 250, 1), rgba(255, 255, 255, 1));
  background-position: center center, center center;
  -o-background-size: auto;
  background-size: auto;
  padding-top: 0px;
}

/* navigation */
#navigation {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
#navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em;
}
#navigation li {
  width: -webkit-calc((100% - 3.5em) / 7);
  width: -moz-calc((100% - 3.5em) / 7);
  width: calc((100% - 3.5em) / 7);
  height: -webkit-calc((100% - 3.5em) / 23);
  height: -moz-calc((100% - 3.5em) / 23);
  height: calc((100% - 3.5em) / 23);
  letter-spacing: -0.05em;
  margin: 0 0.25em 0.5em;
  font-size: 90%;
}
@media screen and (max-width: 1500px) and (min-width: 1301px) {
  #navigation ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em;
  }
  #navigation li {
    width: -webkit-calc((100% - 3.5em) / 7);
    width: -moz-calc((100% - 3.5em) / 7);
    width: calc((100% - 3.5em) / 7);
    font-size: 90%;
    margin: 0 0.25em 0.5em;
  }
}
@media screen and (max-width: 1300px) {
  #navigation ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em;
  }
  #navigation li {
    width: -webkit-calc((100% - 3.5em) / 7);
    width: -moz-calc((100% - 3.5em) / 7);
    width: calc((100% - 3.5em) / 7);
    font-size: 90%;
  }
}
#navigation li a {
  padding: 0.8em 0;
}
#navigation ul li a {
  display: block;
  text-align: center;
  border: thin solid;
  border-radius: 0.3em;
  line-height: 1;
  position: relative;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  text-decoration: none;
  background-color: #fff;
}
#navigation ul li a:hover {
  color: #fff !important;
}
#navigation li a.index {
  color: var(--index-color);
  border-color: var(--index-color);
}
#navigation li a.index:hover {
  background-color: var(--index-color);
}
#navigation li a.story {
  color: var(--story-color);
  border-color: var(--story-color);
}
#navigation li a.story:hover {
  background-color: var(--story-color);
}
#navigation li a.staff {
  color: var(--staff-color);
  border-color: var(--staff-color);
}
#navigation li a.staff:hover {
  background-color: var(--staff-color);
}
#navigation li a.member {
  color: var(--member-color);
  border-color: var(--member-color);
}
#navigation li a.member:hover {
  background-color: var(--member-color);
}
#navigation li a.cast {
  color: var(--cast-color);
  border-color: var(--cast-color);
}
#navigation li a.cast:hover {
  background-color: var(--cast-color);
}
#navigation li a.friendlink {
  color: var(--friendlink-color);
  border-color: var(--friendlink-color);
}
#navigation li a.friendlink:hover {
  background-color: var(--friendlink-color);
}
#navigation li a.message {
  color: var(--message-color);
  border-color: var(--message-color);
}
#navigation li a.message:hover {
  background-color: var(--message-color);
}

/* 导航下拉列表 */
#navigation .droplist {
  display: none;
  width: 98vw;
  height: 90vh;
}
#navigation .drop:hover .droplist {
  display: block;
  margin: -1.2em;
}

/* main */
#main {
  padding-top: -webkit-calc(200px + 5em);
  padding-top: -moz-calc(200px + 5em);
  padding-top: calc(200px + 5em);
}
#main h1 {
  background-color: var(--story-color);
  color: rgba(255, 255, 255, 1);
  border-radius: 0.2em;
  padding: 0 1em;
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 1.4em;
}
main article > div,
main section > div {
  max-width: 1024px;
  overflow: visible !important;
  width: 100%;
  margin: 0 auto;
}

/* TV动画集数导航 */
#story nav ul.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}
#story nav ul.menu li {
  width: -webkit-calc(100% / 8);
  width: -moz-calc(100% / 8);
  width: calc(100% / 8);
  padding: 5px;
  margin-top: 20px;
}
#story nav ul.menu li a {
  font-size: 80%;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  border-radius: 3px;
  text-align: center;
  border-top: 5px solid;
  border-bottom: 5px solid;
  word-break: keep-all;
  text-decoration: none;
}
#story nav ul.menu a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) and (min-width: 481px) {
  #story nav ul.menu li {
    width: -webkit-calc(100% / 6);
    width: -moz-calc(100% / 6);
    width: calc(100% / 6);
  }
  #story nav ul.menu li a {
    padding: 10px 5px;
  }
}
@media screen and (max-width: 480px) {
  #story nav ul.menu li {
    width: -webkit-calc(100% / 4);
    width: -moz-calc(100% / 4);
    width: calc(100% / 4);
  }
  #story nav ul.menu li a {
    padding: 10px 5px;
  }
}

#story nav ul.menu li a {
  color: #fff;
  background-color: var(--story-color);
  border-top-color: var(--story-color);
  border-bottom-color: var(--story-color);
}
#story nav ul.menu li a.now {
  border-bottom-color: var(--story-light-color);
}

/* 第二季动画 */
.storybox {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 10px var(--story-light-color);
  box-shadow: 0px 0px 10px var(--story-light-color);
  -ms-box-shadow: 0px 0px 10px var(--story-light-color);
  overflow: hidden;
  border-radius: 10px;
  padding: 30px 0 0;
  margin-bottom: 50px;
}
.storybox h3 {
  border-left: 15px solid var(--story-color);
  padding-left: 30px;
  font-size: 120%;
  color: var(--story-color);
  text-shadow: 0px 0px 10px var(--story-light-color);
  -ms-text-shadow: 0px 0px 10px var(--story-light-color);
  margin: 0 15px 15px;
}
video {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

/* 底部 */
#footer {
  clear: both;
  padding-top: 10px;
  width: 100%;
  position: relative;
  padding-bottom: 250px;
  border-top: 5px solid rgba(255, 255, 255, 1);
}
#footer::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: -webkit-calc(100% + 5px);
  height: -moz-calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  bottom: 0;
  background-image: -webkit-linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -moz-linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -o-linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(10%, rgba(255, 255, 255, 1)),
      color-stop(70%, rgba(255, 255, 255, 0.7))
    ),
    url(images/header.jpg);
  background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(10%, rgba(255, 255, 255, 1)),
      color-stop(70%, rgba(255, 255, 255, 0.7))
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(10%, rgba(255, 255, 255, 1)),
      color-stop(70%, rgba(255, 255, 255, 0.7))
    ),
    url(images/header.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(10%, rgba(255, 255, 255, 1)),
      color-stop(70%, rgba(255, 255, 255, 0.7))
    ),
    url(images/header.jpg);
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.7) 70%
    ),
    url(images/header.jpg);
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
#footer #copyright p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 2em 0;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: black;
  position: absolute;
  bottom: 0;
}
